.advisor-container {
  padding: 100px 0;
  width: 100%;
  background-color: #131313;
  margin-top: 200px;

  .advisor-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .advisor-img-container {
      position: relative;

      img {
        width: 100%;
      }

      #grp371 {
        max-width: 569px;
      }

      #grp43579 {
        position: absolute;
        max-width: 314px;
        left: -120px;
        bottom: -40px;
      }

      #grp582 {
        position: absolute;
        max-width: 532px;
        left: 75px;
        bottom: 100px;
      }

      #grp581 {
        position: absolute;
        max-width: 527px;
        left: 40px;
        bottom: 0;
      }
    }

    .advisor-text-container {
      color: #fff;
      max-width: 545px;

      .upper-text {
        max-width: 461px;

        span {
          font-size: 20px;
          font-weight: bold;
          line-height: 30px;
        }

        h2 {
          font-size: 35px;
          font-weight: 600;
          line-height: 45px;
          margin: 32px 0 36px 0;
        }

        p {
          margin: 0 0 94px 0;
          font-size: 20px;
          font-weight: normal;
          line-height: 30px;
        }
      }

      .bottom-text-container {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        gap: 50px;

        .bottom-text-card {
          max-width: 240px;

          h3 {
            font-size: 20px;
            font-weight: normal;
            line-height: 30px;
            margin: 0 0 15px 0;

            span {
              font-weight: 600;
            }
          }

          p {
            margin: 0;
            font-size: 16px;
            font-weight: normal;
            line-height: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .advisor-container {
    .advisor-wrapper {
      justify-content: center;

      .advisor-img-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
        }

        #grp371 {
          max-width: 569px;
        }

        #grp43579 {
          position: initial;
          margin-bottom: 25px;
        }

        #grp582 {
          display: none;
        }

        #grp581 {
          display: none;
        }
      }

      .advisor-text-container {
        color: #fff;
        max-width: 545px;
        text-align: center;

        .upper-text {
          max-width: 461px;
          margin: 0 auto;
        }

        .bottom-text-container {
          justify-content: center;
          gap: 50px;
        }
      }
    }
  }
}
