.crowdfunding-container {
  background-color: #131313;
  width: 100%;
  padding: 65px 0;

  .crowdfunding-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;

    .crowdfunding-image {
      position: relative;

      #share-cmp-btn {
        position: absolute;
        top: -25px;
        left: -145px;
      }

      #ifw-btn {
        position: absolute;
        top: 20px;
        right: -60px;
        // height: 83px;
        max-width: 169px;
      }

      #fund-it-btn {
        position: absolute;
        top: 183px;
        right: -225px;
      }
    }

    .crowdfunding-text {
      max-width: 505px;
      color: #fff;

      span {
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
      }

      h3 {
        max-width: 14px 0 24px 0;
        font-size: 35px;
        font-weight: 600;
        max-width: 473;
        line-height: 45px;
      }

      p {
        font-size: 20px;
        font-weight: normal;
        line-height: 30px;
        margin-bottom: 34px;
        max-width: 504;
      }

      a {
        color: #131313;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        background-color: #fff;
        border: 1px solid #fff;
        padding: 14px 30px;
        border-radius: 14px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: #fff;
          background-color: #131313;
          border: 1px solid #fff;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .crowdfunding-container {
    .crowdfunding-wrapper {
      justify-content: center;

      .crowdfunding-text {
        text-align: center;
      }
    }
  }
}

@media (max-width: 450px) {
  .crowdfunding-container {
    .crowdfunding-wrapper {
      justify-content: center;

      .crowdfunding-image {
        position: relative;

        #share-cmp-btn {
          display: none;
        }

        #ifw-btn {
          display: none;
        }

        #fund-it-btn {
          display: none;
        }
      }

      .crowdfunding-text {
        text-align: center;
      }
    }
  }
}
